.chat__button {
  position: fixed;
  bottom: 60px;
  right: 10px;

  width: 50px;
  height: 50px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chat__button:hover {
  background-color: var(--main-hover-color);
  transform: scale(1.05);
}

.chat__container {
  position: fixed;
  bottom: 120px;
  right: 10px;
  width: 350px;
  height: 500px;
  padding: 10px;
  background-color: var(--main-color);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s;
}

.chat__container--open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.chat__header {
  color: var(--text-color);
  text-align: center;
}

.chat__container hr {
  color: var(--text-color);
}

.chat__messages {
  background-color: var(--main-hover-color);
  height: 80%;
  border-radius: 20px;
}

.chat__input-wrapper input {
  padding: 0 15px;
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1rem;
}

.chat__send-message {
  background-color: transparent;
  height: 50px;
  width: 60px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.chat__send-message:hover {
  color: var(--main-hover-color);
}
