.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.field {
  position: relative;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}

.input__eye {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
