:root {
  --main-color: #872341;
  --main-hover-color: rgb(112, 28, 53);
  --text-color: #fff;
  --hover-color: #d3d3d3;
  --gray: #5e5e5e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Pixelify Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
