.homepage-container {
  position: relative;
}

.background__video {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px) brightness(55%);
  transform: scale(1.04);
}

.homepage__landing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.homepage__landing img {
  width: 100%;
  max-width: 400px;
}

.homepage__landing p {
  max-width: 500px;
  line-height: 30px;
  font-size: 1.4rem;
  color: var(--text-color);
}

.landing__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.landing__buttons button {
  width: 200px;
  height: 60px;
  font-family: "Pixelify Sans";
  font-size: 1.8rem;
  border-radius: 15px;
  border: 2px solid var(--text-color);
  background-color: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
  transition: transform 0.5 ease;
}

.landing__buttons button:hover,
.homepage__landing img:hover {
  transform: scale(1.05);
}

.landing__buttons button:hover {
  background-color: var(--main-hover-color);
}

.landing__buttons .landing__about-button {
  width: 100px;
  height: 25px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}
